.CreateTodoButton {
  background-color: #61dafb;
  border: none;
  border-radius:20%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 54px;

  transform: rotate(0);
  transition: .4s ease;
  z-index: 1;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
}